body {
    padding-left: 100px;
    background-color: #dbdbdb;
}
div {
    padding-left: 20px;
    padding-bottom: 2px;
    padding-top: 2px;
    /*border-left: solid 2px blue;*/
}
/*.border-left-show {*/
    /*border-left: solid 3px teal;*/
    /*margin-bottom: 8px;*/
    /*margin-top: 8px;*/
/*}*/
/*.border-left-show:hover {*/
    /*border-left: solid 4px #f66;*/
    /*background-color: #d4d4d4;*/
/*}*/
input {
    /*display: block;*/
    margin-left: 20px;
    background-color: transparent;
    border: transparent;
    width: 30em;
    line-height: 16px;
    padding-left: 5px;
    color: #f66;
}
input:focus {
    background-color: #ffc520;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    forestgreen;
}